body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.form-container, .resume-container {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.resume-container {
  padding-left: 5%;
  padding-right: 5%;
}

.form-container {
  margin-right: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

legend {
  font-weight: bold;
  color: #333;
}

input, textarea {
  width: 97%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button[type="submit"], #downloadResume {
  background-color: #4c63af;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button[type="submit"]:hover, #downloadResume:hover {
  background-color: #6685ec;
}

#personal-info {
  text-align: center;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.profile-pic.hidden {
  display: none;
}

h1, h2 {
  color: #333;
}

p, li {
  color: #555;
}

section {
  margin-bottom: 20px;
}

.content {
  display: none;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-btn {
  background-color: transparent;
  border: 2px solid #4c63af;
  color: #4c63af;
  border-radius: 50%;
  font-size: 1.2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-btn:hover {
  background-color: #6685ec;
  color: #fff;
}

.icon-plus,
.icon-cross {
  position: absolute;
  transition: opacity 0.3s ease;
}

.icon-plus {
  font-size: 20px;
}

.icon-cross {
  font-size: 22px;
  opacity: 0;
}

.toggle-btn.active .icon-plus {
  opacity: 0;
}

.toggle-btn.active .icon-cross {
  opacity: 1;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .form-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  input, textarea {
    width: 93%;
  }
}

.addMore {
  background-color: #4c63af;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.addMore:hover {
  background-color: #6685ec;
}
